body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-height: 100%;
  box-sizing: border-box; /* 엘리먼트의 box-sizing 값을 border-box로 설정 */
}
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
body::-webkit-scrollbar-thumb {
  background: #888;
}
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

div::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

div::-webkit-scrollbar-track {
  background: #f1f1f1;
}

div::-webkit-scrollbar-thumb {
  background: #888;
}

div::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tooltip-name {
  color: #999;
  font-size: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

.tooltip-key {
  padding: 2px;
  border: 1px Solid #999;
  font-size: 0.8em;
  margin-right: 5px;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
  line-height: 10px;
}

.tooltip-shortcut {
  color: orange;
  font-size: 12px;
  font-weight: bold;
  margin-left: 3px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
